html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.game-container {  
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.3fr 1.1fr 1.1fr 0.4fr 1.1fr 1.1fr 0.3fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header header"
    ". player-area player-area . dealer-area dealer-area ."
    ". actions actions . . . ."
    "footer footer footer footer footer footer footer";
}

#player-area { 
  grid-area: player-area;
  background-color: aqua;
}

#dealer-area { 
  grid-area: dealer-area;
  background-color: crimson; 
}

#actions-buttons { 
  grid-area: actions; 
}

#header { 
  grid-area: header; 
}

#restart-buttons { 
  grid-area: footer; 
}
