html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 2.4rem
}

#start-screen {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#start-screen > #logo-big{
  max-width: 95%;
  margin: 20px auto;
}

#start-screen > #start-message {
  font-size: 2.8rem;
  padding: auto 20px;
  text-align: center;
}

#rounds > button {
  font-size: 2rem;
  margin: 20px 10px ;
}

.game-container {  
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.1fr 1.1fr 1.1fr 0.2fr 1.1fr 1.1fr 0.1fr;
  grid-template-rows: 0.3fr 0.3fr 1.1fr 0.2fr 1.1fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header header"
    "message message message message message message message"
    ". player-area player-area player-area player-area player-area ."
    ". . actions actions actions . ."
    ". dealer-area dealer-area dealer-area dealer-area dealer-area ."
    ". . . . . . ."
    "footer footer footer footer footer footer footer";
}

#player-area { 
  grid-area: player-area;
  background-color: aqua;
}

#dealer-area { 
  grid-area: dealer-area;
  background-color: crimson; 
}

.card.xlarge {
  font-size: 26px;
  margin: 5px;
}

#actions-buttons { 
  grid-area: actions; 
}

#header { 
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#header > img {
  display: none;
}

#message {
  grid-area: message;
}

#restart-buttons { 
  grid-area: footer; 
}

.hidden {
  display: none;
}

img.win-img {
  max-width: 400px;
  max-height: 400px
}


/* .game-container {  
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.1fr 1.1fr 1.1fr 0.2fr 1.1fr 1.1fr 0.1fr;
  grid-template-rows: 0.3fr 0.3fr 1.1fr 0.2fr 1.1fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header header header"
    "message message message message message message message"
    ". player-area player-area . dealer-area dealer-area ."
    ". player-area player-area . dealer-area dealer-area ."
    ". player-area player-area . dealer-area dealer-area ."
    ". actions actions . . . ."
    "footer footer footer footer footer footer footer";
} */